html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background: #5e35b1;
}

.sampleImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
#gatsby-focus-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mainContent {
  height: 95vh;
  text-align: center;
}

.mainButton {
  border: solid green;
  border-radius: 50px;
  color: white;
  display: block;
  width: 50%;
  margin: 0 auto;
}

section.map {
  background: white;
  width: 100%;
  height: 100%;
}

footer {
  height: 5vh;
  text-align: center;
  button {
    background: none;
    border: none;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
  span {
    color: white;
  }
}